server {
    listen       80;
    server_name  _;
    
    access_log /var/log/nginx/{{ app_name }}_access_log;
    error_log /var/log/nginx/{{ app_name }}_error_log;

    location / {
        root /home/{{ deployer_user }}/{{ app_name }}/static;
        try_files $uri /index.html;
    }
    
    location /api {
        proxy_pass http://127.0.0.1:5000;
    }
}